{% extends 'base.html.twig' %}

{% block title %}Hello WebsocketController!{% endblock %}

    {% block body %}

        <main role="main" class="container">
            <h1 class="sr-only">My feed</h1>
            <div id="app"></div>

        </main>

{#        <script type="text/javascript">#}
{#            //connect to socket#}
{#            const socket = new WebSocket("ws://localhost:3001");#}
{#            socket.addEventListener("open", function() {#}
{#                console.log("CONNECTED");#}
{#            });#}

{#            //"listen" to socket and print to console#}
{#            socket.addEventListener("message", function(e) {#}
{#                console.log(e.data);#}
{#            });#}
{#        </script>#}
    {% endblock %}